{% extends 'base.html.twig' %}

{% block body %}
    <h2>Сообщение обработанно, молодец!</h2>

    <p>Applied transition: <strong>{{ transition }}</strong></p>
    <p>New state: <strong>{{ comment.state }}</strong></p>
{% endblock %}