
{% extends 'base.html.twig' %}

{% block title %}Тип запчастей{% endblock %}

{% block body %}
    <h2>Результат!</h2>

    {% for parts in parts %}

        <h4>{{ parts }}</h4>
       <p>
            <a href="{{ path('parts', { slug: parts.slug }) }}">View</a>
        </p>
    {% endfor %}
{% endblock %}
